body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

.inline {
  display: inline-block;
}

.table {
  display: table;
}

.center {
  position: relative;
  top:250px;
  margin: auto;
}

.center-horizontal {
  position: relative;
  margin: auto;
}

.draw-box {
  width: 465px;
  height: 450px;
}

.char-icon {
  width: 116px;
  height: 146px;
}

.single-draw {
  background-image: url("./resource/single_draw.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 340px;
  height: 170px;
}

.eleven-draw {
  background-image: url("./resource/eleven_draw.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 340px;
  height: 170px;
}
