body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

.lottery-bgi{
  background-image: url("./resource/test_resource/lottery_bgi.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.inline {
  display: inline-block;
}

.table {
  display: table;
}

.center {
  position: relative;
  top:250px;
  margin: auto;
}

.center-horizontal {
  position: relative;
  margin: auto;
}

.draw-box {
  width: 465px;
  height: 450px;
}

.char-icon {
  width: 116px;
  height: 146px;
}

.single-draw {
  background-image: url("./resource/single_draw.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 340px;
  height: 170px;
}

.eleven-draw {
  background-image: url("./resource/eleven_draw.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 340px;
  height: 170px;
}

.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.example-appear {
  opacity: 0.01;
}

.example-appear.example-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.whole-screen {
  width: 680px;
  height: 975px;
}

.icon-char{
  position:absolute;
  left:23px;
  bottom:-258px;
  z-index: -1;
}

.icon-frame{
  position: absolute;
  z-index: 0;
}

.icon-star-block{
  position: absolute;
  left: 35px;
  bottom: -218px;
  transform: scale(0.7);
  width: 215px;
}

.icon-new-icon{
  transform: scale(0.5);
  position: absolute;
  left: 12px;
  bottom: -84px;
}

.icon-lv-label{
  transform: scale(1.7);
  position: absolute;
  left: 65px;
  bottom: -253px;
}

.icon-lv-text{
  position: absolute;
  bottom: -263px;
  left: 71px;
  color: #fffcef;
  font-size: 2em;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.icon-bgi{
  z-index: -2;
  transform: scale(1.4,1.4);
  position: absolute;
  left: 54PX;
  bottom: -227px;
}

.icon-attribute{
  position: absolute;
  bottom: -280px;
  left: 160px;
  transform: scale(0.7);
}

.icon-weapon{
  position: absolute;
  left: 172px;
  bottom: -267px;
  transform: scale(0.7);
}

#singleDrawBtn{
  float: left;
}

#singleDrawBtn:active {
  position: absolute;
  bottom: 80px;
}

#elevenDrawBtn{
  float: right;
}

#elevenDrawBtn:active {
  position: absolute;
  bottom: 80px;
}